snippet vue
	<template lang="pug">
		.${1:component}
	</template>

	<script>
		export default {
			//
		}
	</script>

	<style lang="scss" scoped>
		.${2:component} {
			//
		}
	</style>

snippet template
	<template lang="pug">
		.${1:component}
	</template>

snippet script
	<script>
		export default {
			//
		}
	</script>

snippet style
	<style lang="scss" scoped>
		.${1:component} {
			//
		}
	</style>
