snippet vue
<template>
	${0}
</template>

<script lang="ts" setup>
	//
</script>
endsnippet

snippet template
<template>
	${0}
</template>
endsnippet

snippet script
<script>
	export default {
		${0:${VISUAL:\/\////}}
	}
</script>
endsnippet

snippet setup
<script lang="ts" setup>
	${0:${VISUAL:\/* ... *\////}}
</script>
endsnippet

snippet style
<style scoped>
	${0:${VISUAL:\/* ... *\////}}
</style>
endsnippet
